section
  h1.text-center.text-primary Itt megtaláhatsz személyesen is:
  br
  .row
    iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2694.224609722801!2d19.057546615397104!3d47.524489979179364!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4741dbf16ab9fe2b%3A0x92a64cdac68ed67!2sBudapest%2C+Tisza+u.%2C+1133!5e0!3m2!1shu!2shu!4v1524429291629', align='middle', width='600', height='450', frameborder='0', style='border:0', allowfullscreen='')
hr
section
  .row
    form.border-form.col-md-8.offset-md-2
      p.text-center Kapcsolat
      .form-group
          label.text-primary Név
          input.form-control(name="content" type='text', placeholder='Név')
      .form-group
          label.text-primary Email
          input.form-control(name="content" type='email', placeholder='Email')
      .form-group
          label.text-primary Üzenet
          textarea#FormControlTextarea.form-control(name="textarea" rows='3',placeholder='Az üzeneted helye...')
      button.btn.btn-primary.btn-block Küldés
    
  
