.container
  h1.header-big-text 
    span.initial.text-primary A
    |pi leírása
  h2.header-medium-text
    | Blogbejegyzések
  ul.medium-text 	
    li Az alkalmazás létre tud hozni blog bejegyzéseket
    li logbejegyzések módosíthatóak és törölhetőek 
    li a bejegyzések dinamikusan generálódnak le az oldalon
    li a blogbejegyzések időbélyeggel vannak ellátva
  h2.header-medium-text
    | Hitelesítés, bejelentkezés
  ul.medium-text 
    li A regisztráció segítségével új felhasználót hozhatunk létre
    li a login és a regisztráció nem lesz elküldve ha hiányzik az egyik adat