/* You can add global styles to this file, and also import other style files */

/* body {
  background-repeat: no-repeat;
  background: linear-gradient(to right, lightblue, white, white, lightblue);
  width: 100%;
} */
