.container
  .d-flex.justify-content-center
    img.profil-img(src="/src/assets/enkep.jpg", alt="enkep.jpg")
  .main-div.div-contact
    h1 Mihály 
      span.text-primary Tamás
    br
    .mb-5 1133 · Budapest, Tisza utca · +36 (20) 275-1942 · 
      a(href='mailto:mihalytamas92@gmail.com') mihalytamas92@gmail.com
    p 
      | Jelenleg hallgató a vagyok a 
      a.yellow-text(href='https://karrierprogram.training360.com/') Yellowroad 
      | szoftverfejlesztő képzésén, korábban egy ingatlanközvetítő hálózatban 
      | dolgoztam értékesítőként. Veszprémben folyattam vegyészmérnöki tanulmányokat.
      | Hobbim a fotózás, túrázás, főzés.


  h2 
    span.text-primary Tanulmányok
  div.main-div.div-education.col-sm-10.offset-sm-1
    .resume-item.d-flex.flex-column.flex-md-row.mb-5
      .resume-content.mr-auto
        h4.mb-0 Pannon Egyetem
        .subheading.mb-3 Vegyészmérnök BSc
        div Folyamatmérnöki szakirány - Befejezetlen képzés
      .resume-date.text-md-right
        span.text-primary 2011 - 2015
    .resume-item.d-flex.flex-column.flex-md-row
      .resume-content.mr-auto
        h4.mb-0 Dráva Völgye Középiskola
        .subheading.mb-3 Hatosztályos gimnázium
        div Fizika és matematika fakultáció
      .resume-date.text-md-right
        span.text-primary 2005 - 2011

  h2 
    span.text-primary Munkahelyek
  div.main-div.div-education.col-sm-10.offset-sm-1
    .resume-item.d-flex.flex-column.flex-md-row.mb-5
      .resume-content.mr-auto
        h4.mb-0 CDC ingatlan közvetítő franchise
        .subheading.mb-3 Ingatlanértékesítő
      .resume-date.text-md-right
        span.text-primary 2015 - 2017
    .resume-item.d-flex.flex-column.flex-md-row.mb-5
      .resume-content.mr-auto
        h4.mb-0 Pannon Egyetem projektiroda
        .subheading.mb-3 projektmenedzser aszisztens - részmunkaidő
      .resume-date.text-md-right
        span.text-primary 2012 - 2014
    .resume-item.d-flex.flex-column.flex-md-row.mb-5
      .resume-content.mr-auto
        h4.mb-0 Kavíz vízvizsgáló laboratórium
        .subheading.mb-3 laboráns gyakornoki munka
      .resume-date.text-md-right
        span.text-primary 2014 nyár

      

