//navbar

nav.navbar.navbar-expand-lg.navbar-light.bg-light
  a.navbar-brand.text-capitalize.a-bordered(href='#') blog
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNavDropdown', aria-controls='navbarNavDropdown', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarNavDropdown.collapse.navbar-collapse
    ul.navbar-nav 
      li.nav-item(routerLinkActive="active")
        a.nav-link(routerLink='/') Főoldal
          span.sr-only (current)
      li.nav-item(routerLinkActive="active")
        a.nav-link(routerLink='/contact') Kontakt
      li.nav-item(routerLinkActive="active")
       a.nav-link(routerLink="/profile") Profil
      li.nav-item(routerLinkActive="active")
       a.nav-link(routerLink="/knowledge") Tudásbázis
      li.nav-item(routerLinkActive="active")
       a.nav-link(routerLink="/api") Api
  .mr
    ul.navbar-nav
      li.nav-item.active
        a.nav-link(data-toggle='modal', data-target='#ModalCenterLogin') Login
      li.nav-item.active
        a.nav-link(data-toggle='modal', data-target='#ModalCenterRegister') Regisztráció
      li.nav-item.active
        a.nav-link((click)='logout()') Kijelentkezés
  

// Modal login
#ModalCenterLogin.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
  .modal-dialog.modal-dialog-centered(role='document')
    .modal-content
      .modal-header
        h5#exampleModalLongTitle.modal-title Login
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
      .modal-body
       form
        .form-group
         label(for='username') Email cím
         input#usermail.form-control(name="username", type='email', placeholder='felhasználónév', [(ngModel)]="user.username")
        .form-group
         label(for='userpass') Jelszó
         input#userpass.form-control(name="password" type='password', placeholder='jelszó', [(ngModel)]="user.password")

      .modal-footer
        button.btn.btn-secondary(type='button', data-dismiss='modal') Close
        button.btn.btn-primary(type='button',data-dismiss='modal', (click)='login()') Login
        button.btn.btn-success(type='button' data-dismiss='modal' data-toggle='modal' data-target='#ModalCenterRegister') Register
// Modal register
#ModalCenterRegister.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
  .modal-dialog.modal-dialog-centered(role='document')
    .modal-content
      .modal-header
        h5#exampleModalLongTitle.modal-title.text-center Registration
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
      .modal-body
         form
         .form-group
           label(for='regUsername') Username
           input#regUsername.form-control(type='text', placeholder='felhasználónév', [(ngModel)]="newUser.username")
         .form-group
           label(for='#regUsermail') Email
           input#regUsermail.form-control(name="usermail" type='email', placeholder='email cím', [(ngModel)]="newUser.email")
         .form-group
           label(for='#reguserpass') Password
           input#reguserpass.form-control(name="password" type='text', placeholder='jelszó', [(ngModel)]="newUser.password")
      .modal-footer
        button.btn.btn-secondary(type='button' data-dismiss='modal') Close
        button.btn.btn-primary(type='button', data-dismiss='modal', (click)='register()') Save changes
.router-div(*ngIf='this.loggedIn')
  router-outlet
.container
  .logged-out-div(*ngIf='!this.loggedIn')
    br
    h1 Kijelentkezve